body {
	justify-content: center;
	overflow: hidden;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Play Bar CSS :) */
.playbar-progress {
  --size: 250px;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 20px;
  --radius: calc((var(--size) - var(--stroke-width) - 2px) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dashfg: calc((var(--progress) * var(--circumference)) / 100);
  --dashbg: calc((75 * var(--circumference)) / 100);
	--speed: var(--animation-speed);
	--fgcolor: #5394fd;
	--bgcolor: #ddd;
}

.playbar-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.playbar-progress circle.bg {
  transform: rotate(135deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dashbg) calc(var(--circumference) - var(--dashbg));
  transition: stroke-dasharray var(--speed) linear 0s;
  stroke: var(--bgcolor);
}

.playbar-progress circle.fg {
  transform: rotate(135deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dashfg) calc(var(--circumference) - var(--dashfg));
  transition: stroke-dasharray var(--speed) linear 0s;
  stroke: var(--fgcolor);
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@property --animation-speed {
	syntax: "<time>";
	inherits: false;
	initial-value: 0s;
}
